$light-grey: #F2F2F2;
$purple: #5865F2;
$green: #3CA45C;
$bold: "Roboto-Bold";
$common-grey: #C9C9C9;

.docs {

  p {
    color: #D3D4DA;
    text-decoration: none;
    transition: all .3s ease-out;
  }

  ol {
    list-style-type: none;
    padding: 0;
    li{
      margin-bottom: 1rem;
      //counter-reset: li;
      //list-style: none;
      //padding: 0;
      //text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

    a {
      position: relative;
      display: flex;
      background: $light-grey;
      border-radius: 8px;
      text-decoration: none;
      transition: all .3s ease-out;
      padding: 1.2rem;

      &:before {
        //content: counter(li);
        //counter-increment: li;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        margin-top: -1em;
        background: $purple;
        height: 100%;
        width: 4px;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
      }

      &:after {
        //position: absolute;
        content: "";
        //border: .5em solid transparent;
        //left: -1em;
        //top: 50%;
        //margin-top: -.5em;
        //transition: all .3s ease-out;
      }
    }

  }
}

.docGroupList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  font-size: 1.8rem ;

  p {
    font-family: $bold;
    font-weight: 1200;
    height: 30px;
  }
}

.docGroup0 {
  flex: 1;
  order: 1;
}

.docGroup1 {
  flex: 1;
  order: 2;
}

.docGroup2 {
  flex: 2;
  order: 0;
  ol li a {
    padding-left: 2.7rem;
  }
  ol li a:before {
    //content: counter(li);
    //counter-increment: li;
    content: '';
    position: absolute;
    left: 10px;
    top: 33px;
    margin-top: -1em;
    background: $purple;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
  }
}

.questionButton {
  font-family: $bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font-size: 1.8rem ;

  &:before{
    display: inline-block;
    content: '';
    width: 2rem;
    height: 2rem;
    background: url("../../images/back-arrow.svg") no-repeat center center;
    background-size: contain;
    margin-right: 1.3rem;
  }

  &:hover{
    color: $purple;

    &:before{
      background: url("../../images/back-arrow-purple.svg") no-repeat center center;
    }
  }
}

